<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @stovnertwitter.body %>
</p>

<p>
  <strong>Username:</strong>
  <%= @stovnertwitter.username %>
</p>

<%= link_to 'Edit', edit_stovnertwitter_path(@stovnertwitter) %> |
<%= link_to 'Back', stovnertwitters_path %>
